.movie-item {
    padding: 5px;
    margin: 15px;
    border-bottom: 2px solid grey;
}

.item {
    margin: 5px 0;
}

.button {
    cursor: pointer;
    text-align: center;
    width: 200px;
    border-radius: 7px;
    background-color: lightskyblue;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}
